.plans__container {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
}

.plans__content {
  display: flex;
  flex-direction: column;
}
.plans__background {
  z-index: -1;
  opacity: 0%;

  top: 0;
  left: 0;

  display: flex;
  position: absolute;

  height: 100vh;
  width: 100vw;

  rotate: 0deg;
  background: url("../../assets/cardbackgroundsmall.png");
  background-size: 500%;
  background-repeat: repeat;

  animation-timing-function: linear;
  animation-name: backgroundEffect;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}

@keyframes backgroundEffect {
  0% {
    background-position: 0% 0%;
  }

  49% {
    background-position: 15% 45%;
  }
  50% {
    background-position: 15% 45%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.plans__main {
  opacity: 100%;
}

.plans__content {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.plans__free__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  padding-top: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1.5rem;
  background-color: #1b1b1bcc;
  border-radius: 18px;
  border-width: 3px;
  border-color: white;
  border-style: solid;
}

.plans__title {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 800;
  color: white;
}

.plans__price {
  margin-top: -3rem;
  text-align: center;

  font-size: 1.5rem;
  font-weight: 100;
  color: white;
}

.plans__extra {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 300;
  color: white;
}

.plans__button {
  box-shadow: 0 2px 10px 0px #ff3434;
  background-color: #ff3434;
  color: white;
  font-weight: 600;
  /* margin-top: 4rem; */
  /* align-self: flex-end; */
  padding: 0.75rem;
  padding-right: 2rem;
  padding-left: 2rem;
  border-radius: 5px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.plans__free__list {
  list-style-type: disc;
  /* text-decoration: none; */
  padding: 0;
  margin-top: -1rem;
  /* margin-bottom: 2.5rem; */
}

.plans__free__item {
  color: white;
  font-weight: 300;
  text-align: left;
  display: flex;
}

.plans__ultimate__card {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  padding-top: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1.5rem;
  background-color: #1b1b1bcc;
  border-radius: 18px;
  border-width: 3px;
  border-color: white;
  border-style: solid;
}

.planst__ultimate__phantom {
  height: 300px;
  width: 150px;
  background-color: #1b1b1bcc;
  border-radius: 18px;
  border-width: 3px;
  border-color: white;
  border-style: solid;
}

.plans__ultimate__title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
  color: white;
}

/* very small screens */
@media (min-width: 475px) {
  .plans__header__menu {
    display: none;
  }
  .plans__header__title {
    display: flex;
    padding-right: 2rem;
  }
  .plans__header__right {
    display: flex;
  }
  .plans__header {
    justify-content: space-between;
  }
  .plans__background {
    background-size: 400%;
  }
}

/* small screens */
@media (min-width: 640px) {
  .plans__background {
    background-size: 300%;
  }
  .plans__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .plans__ultimate__card {
    margin: 0;
    margin-left: 4rem;
  }
  .plans__free__card {
    margin-right: 4rem;
  }
}

/* medium screens */
@media (min-width: 768px) {
  .plans__background {
    background-size: 250%;
  }
}

/* large screens */
@media (min-width: 1024px) {
}

/* extra large screens */
@media (min-width: 1280px) {
}

/* 2xl screens */
@media (min-width: 1536px) {
}
