.user__modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-self: center;
  height: 30rem;
  width: 20rem;
  background-color: #1b1b1bff;

  position: absolute;
  margin: auto;

  padding: 1rem;

  box-shadow: 0px 0px 10px 0px #0b0b0b;

  border-radius: 18px;
  /* border-width: 1px; */
  /* border-color: white; */
  /* border-style: solid; */

  flex-direction: column;
  display: flex;
}

.user__title {
  text-decoration: underline;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  color: white;
}

.user__card {
  top: 0;
  left: 0;
  position: absolute;
  height: 80vh;
  opacity: 1;
  /* background-color: red; */
  /* width: 550vh; */
  /* left: 65vw; */
  /* top: -85vh; */
  rotate: 0deg;
}

.user__username__text {
  font-size: 0.75rem;
  font-weight: 400;
  color: white;
}

.user__username__input {
  padding: 0.5rem;
  box-shadow: none;
  outline: none;
  border-radius: 5px;
  color: white;
  background-color: #2b2b2b;
}

.form {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
  background-color: #fff;
  display: block;
  padding: 1rem;
  min-width: 150px;
  max-width: 350px;
  height: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
}

.input-container input,
.form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 230px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.input-container span {
  display: grid;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  place-content: center;
}

.input-container span svg {
  color: #9ca3af;
  width: 1rem;
  height: 1rem;
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #ff3434;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.signup-link {
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}
