.intro__container {
  background-color: "#1b1b1b";
  text-align: center;
  /* justify-content: center; */
  display: flex;
  position: absolute;
  height: 100vh;
}

.intro__spade {
  display: flex;
  z-index: 100;
  position: absolute;
  top: 40vh;
  left: 45vw;
  opacity: 1;
  scale: 1;
  background-color: red;
  /* transform-origin: center; */
}

.card__card {
  position: absolute;
  height: 650vh;
  opacity: 1;
  /* width: 550vh; */
  left: 65vw;
  top: -85vh;
  rotate: -20deg;
}

/* .card__card {
  position: absolute;
  height: 650vh;
  opacity: 1;
  left: 65vw;
  top: -80vh;
  rotate: -20deg;
} */

.border,
.rect,
.spade {
  fill: white;
}

.rect {
  opacity: 0.03;
}

.spade {
  stroke: #fff;
  stroke-width: 0.86px;
  fill-rule: evenodd;
}

.intro__box {
  rotate: -20deg;
  position: absolute;
  top: 9vh;
  left: 34vw;
  border: 8px solid white;
  border-radius: 30px;
  height: 80vh;
  width: 28vw;
  opacity: 0;
}
