:root {
  font-family: "Montserrat", sans-serif;
  background-color: #1b1b1b;
  overflow: hidden;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 50px 2px #ff3434;
  cursor: pointer;
}

.textbtn:hover {
  transform: translateY(-3px);
  cursor: pointer;
}

/* very small screens */
@media (min-width: 475px) {
}

/* small screens */
@media (min-width: 640px) {
}

/* medium screens */
@media (min-width: 768px) {
}

/* large screens */
@media (min-width: 1024px) {
}

/* extra large screens */
@media (min-width: 1280px) {
}

/* 2xl screens */
@media (min-width: 1536px) {
}
