:root {
  font-family: "Montserrat", sans-serif;
  background-color: #1b1b1b;
  overflow: hidden;
}

/* very small screens */
@media (min-width: 475px) {
}

/* small screens */
@media (min-width: 640px) {
}

/* medium screens */
@media (min-width: 768px) {
}

/* large screens */
@media (min-width: 1024px) {
}

/* extra large screens */
@media (min-width: 1280px) {
}

/* 2xl screens */
@media (min-width: 1536px) {
}
